/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"); */

/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --color-background: #060;
  --color-dark: #000;
  --color-primary: #6a748c;
  --color-secondary: #fefefe;
  --font-monserrat: "Monstserrat", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-small: 14px;
}

* {
  box-sizing: border-box;
}

// reset
html,
body,
#app {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--color-background);
  color: var(--color-secondary);
  font-family: var(--font-poppins);
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

.App {
  width: 100%;
  height: 100%;
}

.list {
  list-style: none;
}

.space-small {
  width: 0.5rem;
}

.container {
  display: flex;
  height: calc(100% - 60px);
  background-image: url("./assets/autum.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
